@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;


.leaflet-container {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  z-index: 0;
}
